name: Publish to npm

on:
  push:
    tags:
      - 'v*'

jobs:
  test:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run test script
        run: |
          npm run test

  publish:
    runs-on: ubuntu-slim

    needs: test

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Create linted tag & publish
        run: |
          ORIGINAL_TAG="${GITHUB_REF_NAME#refs/tags/}"
          NEW_TAG="linted-$ORIGINAL_TAG"

          npm run lint || echo "No fixes applied"

          if ! git diff --quiet; then
            git config user.name "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add .
            git commit -m "chore: auto fix lint [skip ci]"
          fi

          git tag "$NEW_TAG"
          git push origin "$NEW_TAG"

          npm publish --tag "$NEW_TAG" --provenance --access public
