name: Running test when push to main

on:
  push:
    branches: 
        - "main"

jobs:
  test:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v4
        with:
            node-version: 22
            cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run test script
        run: |
          npm run test
